/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*nav{
  height: 8vh;
  width: 100%;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
Logo{
  padding: 0px 20px;
  background-color: blue;
}
.nav-items{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60%;
   height: 100%;
}
*/
/*.nav-item{
  display: flex;
  }*/

  @import './Assets/scss/Variable';
  @import './Assets/scss/Layout';
  @import './Assets/scss/Theme';