nav {
	display:flex;
	align-items: center;
	heignt:8vh;
	width: 100%;
	justify-content: space-around;

	.logo{
	height:8vh;
	background: red;
	display: flex;
	align-items:center;
	}
	.nav-contents{
	display: flex;
	background: blue;
	height:8vh;
	width: 100%;
	}
	.nav-items{
	display:flex;
	align-items:center;
	justify-content: space-around;
	width:100%;
	}
}